<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>用户管理</title>
    <style>
        body {
            padding-top: 70px;
        }

        tr>th:nth-of-type(1),
        tr>td:nth-of-type(1) {
            width: 50px;
        }

        tr>th:nth-of-type(2),
        tr>td:nth-of-type(2) {
            width: 250px;
        }

        tr>th:nth-of-type(4),
        tr>td:nth-of-type(4) {
            width: 150px;
            text-align: center;
        }

        tr>th:nth-of-type(5),
        tr>td:nth-of-type(5) {
            width: 200px;
            text-align: center;
        }

        #index {
            border: none;
            background-color: transparent;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="index" class="navbar-brand">网页聊天室</button>
            </div>
            <button id="out" type="submit" class="btn btn-primary navbar-btn navbar-right">登出</button>
        </div>
    </nav>
    <div class="container" style="height: 500px;">
        <table class="table table-hover table-bordered">
            <caption>用户列表</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>当前状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in users %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td class="time">{{ item.username }}</td>
                    <td>{{ item.nickname }}</td>
                    <td>
                        {% if item.online == true %} 在线 {% elif item.online == false %} 离线 {% else %} 封停
                    </td>
                    {% endif %}
                    <td><a href="/open/{{ item.id }}" class="btn btn-success btn-xs">解封</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/close/{{ item.id }}" class="btn btn-danger btn-xs">封停</a></td>
                    {% else %}
                    <td>This would display if the 'item' collection were empty</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="page"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.min.js"></script>
    <script>
    function showPageCommon(config) {
    return function (page, total) {
        var str = `<li class="active"><a href="/signAdmin/${page}">${page}</a></li>`;

        for (var i = 1; i <= 3; i++) {
            if (page - i > 1) {
                str = `<li><a href="/signAdmin/${page - i}" class="${config.color}">${page - i}</a></li>${str}`;
                // '<a class="' + config.color + '">' + (page - i) + '</a>' + str;
            }
            if (page + i < total) {
                str = `${str}<li><a href="/signAdmin/${page + i}" class="${config.color}">${page + i}</a></li>`;
                // str = str + '<a class=">' + config.color + '">' + (page + i) + '</a>';
            }
        }

        if (page - 4 > 1) {
            str = '<li><a href="#">...</a></li>' + str;
        }

        if (page > 1) {
            str = `<li><a href="/signAdmin/${page - 1}">上一页</a></li><li><a href="/signAdmin/1">1</a></li>${str}`;
            // '上一页' + 1 + str;
        }

        if (page + 4 < total) {
            str = str + `<li><a href="#">...</a><li>`;
        }

        if (page < total) {
            str = `${str}<li><a href="/signAdmin/${total}">${total}</a></li><li><a href="/signAdmin/${page + 1}">下一页</a></li>`;
            // str + total + '下一页';
        }
        return str;
    }
}

var showPage = showPageCommon();

{{ script }}
$('#page').append(
    `
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                ${ret}
            </ul>
        </nav>
        `
);
$('#out').click(function () {
    $.removeCookie('ausername');
    $.removeCookie('apassword');
    window.location.href = '/admin';
})
$('#index').click(function () {
    $.removeCookie('ausername');
    $.removeCookie('apassword');
    window.location.href = '/admin';
})
    </script>
</body>

</html>