<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>交友名片</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #operation {
      position: fixed;
      right: 4%;
      bottom: 4%;
      width: 112px;
    }

    #show {
      box-sizing: border-box;
      position: absolute;
      left: 55%;
      top: 50%;
      padding: 10px;
      transform: translateY(-45%);
      width: 300px;
      height: 500px;
      background-color: #e1effd;
      text-align: center;
      box-shadow: 5px 5px 4px #888888;
    }

    #head-img {
      margin: 60px auto;
      width: 100px;
      height: 100px;
    }

    #base {
      margin: 0 auto;
      text-align: left;
      width: 190px;
    }

    .display {
      display: none;
    }

    #color {
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-45%);
      width: 380px;
    }

    .color {
      width: 40px;
      height: 40px;
      float: left;
      background-color: #eee;
      margin: 7px;
      border: 1px solid #aaa;
    }
  </style>
</head>

<body style="padding-top: 70px">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">网页聊天室</a>
      </div>
    </div>
  </nav>


  <!--操作-->
  <div id="operation">
    <button class="btn btn-success" type="">预览</button>
    <button class="btn btn-info" type="">修改</button>
  </div>

  <!--交友名片修改-->
  <div id="edit" class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="/save" method="post">
          <h1>交友名片</h1>
          <div class="form-group">
            <label for="nickname">昵称</label>
            <input id="nickname" class="form-control" type="text" name="nickname" value="{{ nickname }}" readonly>
          </div>
          <div class="form-group">
            <label>性别</label>
            <div id="sex" class="radio">
              <label><input type="radio" name="sex" value="true" {% if sex %}checked{% endif %} readonly>男</label>&emsp;
              <label><input type="radio" name="sex" value="false" {% if sex %}{% else %}checked{% endif %} readonly>女</label>
            </div>
          </div>
          <div class="form-group">
            <label for="qq">QQ</label>
            <input id="qq" class="form-control" type="text" name="qq" value="{{ qq }}" readonly>
          </div>
          <div class="form-group">
            <label for="hobby">爱好</label>
            <input id="hobby" class="form-control" type="text" name="hobby" value="{{ hobby }}" readonly>
          </div>
          <div class="form-group">
            <label for="say">交友宣言</label>
            <input id="say" class="form-control" type="text" name="say" value="{{ say }}" readonly>
          </div>
          <div class="form-group">
            <label for="head-pic">头像</label>
            <select id="head-pic" class="form-control" name="img">
              <option value="/image/background.jpg" {% if (img == 'image/background.jpg') %} selected {% endif %}>夕阳</option>
              <option value="/image/1.jpg" {% if (img == '/image/1.jpg') %} selected {% endif %}>动漫男头1</option>
              <option value="/image/2.jpg" {% if (img == '/image/2.jpg') %} selected {% endif %}>动漫男头2</option>
              <option value="/image/3.jpg" {% if (img == '/image/3.jpg') %} selected {% endif %}>动漫男头3</option>
              <option value="/image/4.jpg" {% if (img == '/image/4.jpg') %} selected {% endif %}>动漫女头1</option>
              <option value="/image/5.jpg" {% if (img == '/image/5.jpg') %} selected {% endif %}>动漫女头2</option>
              <option value="/image/6.gif" {% if (img == '/image/6.gif') %} selected {% endif %}>动头(可爱小女孩)</option>
              <option value="/image/7.gif" {% if (img == '/image/7.gif') %} selected {% endif %}>动头(打你头)</option>
              <option value="/image/8.gif" {% if (img == '/image/8.gif') %} selected {% endif %}>动头(纠结)</option>
              <option value="/image/9.gif" {% if (img == '/image/9.gif') %} selected {% endif %}>动头(睡觉吹气泡)</option>
              <option value="/image/10.gif" {% if (img == '/image/10.gif') %} selected {% endif %}>动头(害怕)</option>
              <option value="/image/11.gif" {% if (img == '/image/11.gif') %} selected {% endif %}>动头(青峰)</option>
              <option value="/image/12.gif" {% if (img == '/image/12.gif') %} selected {% endif %}>动头(五角星)</option>
              <option value="/image/13.gif" {% if (img == '/image/13.gif') %} selected {% endif %}>动头(奇怪佐助)</option>
              <option value="/image/14.gif" {% if (img == '/image/14.gif') %} selected {% endif %}>动头(可爱雏田)</option>
              <option value="/image/15.gif" {% if (img == '/image/15.gif') %} selected {% endif %}>动头(搓个螺旋丸打他)</option>
              <option value="/image/16.gif" {% if (img == '/image/16.gif') %} selected {% endif %}>动头(装逼佐助)</option>
            </select>
          </div>
          <div class="form-group">
            <label>字体颜色：<span id="f-c">{{ fc }}</span>&emsp;&emsp;背景颜色：<span id="b-c">{{ bc }}</span></label>
            <input type="hidden" name="fc" id="f-c1" value="{{ fc }}">
            <input type="hidden" name="bc" id="b-c1" value="{{ bc }}">
          </div>
          <button type="submit" class="btn btn-primary">提交</button>
        </form>
      </div>
    </div>
  </div>

  <!--可选择背景、字体颜色-->
  <div id="color" class="display">
    <div>
      <button id="bg-c" class="btn btn-default">背景</button>
      <button id="font-c" class="btn btn-default">文字</button>
    </div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
  </div>
  <!--交友名片预览-->
  <div id="show" class="display">
    <img id="head-img" src="image/background.jpg" alt="bg" class="img-circle">
    <div id="base">
      <div title="昵称">昵称：<span id="s-nickname"></span></div>
      <div title="性别">性别：<span id="s-sex"></span></div>
      <div title="QQ">QQ：<span id="s-qq"></span></div>
      <div title="爱好">爱好：<span id="s-hobby"></span></div>
      <div title="交友宣言">交友宣言：<span id="s-say"></span></div>
    </div>
  </div>

  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    var data
    // 点击修改、保存
    $('#operation > button:nth-child(2)').click(function () {
      if ($(this).text() == '修改') {
        $('input').removeAttr('readonly')
        $(this).text('返回')
      } else {

        $('input').attr('readonly', '')
        $(this).text('修改')
      }
    })
    // 点击预览
    $('#operation > button:nth-child(1)').click(function () {
      data = {
        nickname: $('#nickname').val(),
        sex: ($('#sex input:checked').val() == 'true') ? '男' : '女', //$('#sex').val(),
        qq: $('#qq').val(),
        hobby: $('#hobby').val(),
        say: $('#say').val(),
        head: $('#head-pic').val(),
        bc: $('#b-c').text(),
        fc: $('#f-c').text()
      }
      $('#s-nickname').text(data.nickname)
      $('#s-qq').text(data.qq)
      $('#s-sex').text(data.sex)
      $('#s-hobby').text(data.hobby)
      $('#s-say').text(data.say)
      $('#head-img').attr('src', data.head)
      $('#show').css('color', data.fc)
      $('#show').css('background-color', data.bc)
      console.log(data)
       $('#operation > button:nth-child(2)').toggle()
      $('#edit').toggle()
      $('.display').toggle()
      if ($(this).text() == '预览') {
        $(this).text('返回')
      } else {
        $(this).text('预览')
      }
    })

    // 给颜色赋值
    function initColor() {
      var check = false;
      var red = ['0', '85', '170', '255'];
      var green = ['0', '85', '170', '255'];
      var blue = ['0', '85', '170', '255'];
      var $color = $('.color');
      for (var i = 0; i < $color.length; i++) {
        $color.eq(i).css('background-color', 'rgb(' + red[parseInt(i / 16)] + ',' + green[parseInt(i / 4 % 4)] + ',' +
          blue[parseInt(i % 4)] + ')')
      }
      $('#bg-c').click(function () {
        check = false;
      })
      $('#font-c').click(function () {
        check = true;
      })
      $('.color').click(function () {
        if (check) {
          $('#f-c1').val($(this).css('background-color'))
          $('#f-c').text($(this).css('background-color'))
          $('#show').css('color', $(this).css('background-color'))
        } else {
          $('#b-c1').val($(this).css('background-color'))
          $('#b-c').text($(this).css('background-color'))
          $('#show').css('background-color', $(this).css('background-color'))
        }
      })
    }
    initColor()
  </script>
</body>

</html>