<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Public Profile</h1>
        <form action="#" class="">
          <div class="form-group">
            <label for="nickname">nickname</label>
            <input type="text" name="nickname" value="chao" id="nickname" class="form-control">
          </div>
          <div class="form-group">
            <label for="sex">sex</label>
            <input type="text" name="sex" value="chao" id="sex" class="form-control">
          </div>
          <div class="form-group">
            <label for="hobby">hobby</label>
            <input type="text" name="hobby" value="chao" id="hobby" class="form-control">
          </div>
          <div class="form-group">
            <label for="information">personal information</label><br>
            <textarea rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Update profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>